.headline {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 60vw;
  padding: 0.5rem;
  color: aquamarine;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px rgb(16, 128, 148);
}
