.nav {
  background-color: aquamarine;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  align-items: center;
  padding: 1rem;
}

.navLink {
  text-decoration: none;
  padding: 0.5rem;
  margin-left: 1rem;
  background-color: rgb(6, 22, 73);
  border: 2px solid rgb(6, 22, 73);
  color: aquamarine;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px rgb(16, 128, 148);
}

.navLink:hover {
  text-decoration: none;
  padding: 0.5rem;
  margin-left: 1rem;
  color: rgb(6, 22, 73);
  background-color: aquamarine;
  border: 2px solid rgb(6, 22, 73);
  border-radius: 1rem;
  box-shadow: 5px 5px 5px rgb(16, 128, 148);
}
